/* Header */
header {
  background-image: linear-gradient(to left, lightblue, darkblue);
  color: white;
  padding: 50px;
  font-size: 2.5em;
  margin: 1%;
}
h1 {
  margin-left: 2%;
}

/* Grid setup for main elements */
#content {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: auto;
  grid-template-areas:
    "left top"
    "left bottom"
    "left bottom";
}
#content > div {
  padding: 20px;
}
#search-history {
  grid-area: left;
  border: 5px solid purple;
  display: flex;
  flex-direction: column;
}
#current-forecast {
  grid-area: top;
}
#future-forecast {
  grid-area: bottom;
}

/* Search attributes */
#search-history > h2 {
  font-size: 30px;
  margin-bottom: 5%;
  text-align: center;
  text-decoration: underline;
}
#cityInput {
  padding: 5px;
}
#search-btn {
  margin-top: 5%;
  justify-content: center;
  padding: 5px;
}

/* Search History attributes */
#search-history > h3 {
  font-size: 20px;
  margin: 3%;
  text-align: center;
}
#city-history {
  display: flex;
  flex-direction: column;
}
#city-history > button {
  margin: 2%;
  padding: 5px;
  background-color: rgb(46, 67, 114);
  color: white;
  font-size: 1.2em;
}
#city-history > button:hover {
  background-color: rgb(43, 106, 240);
}

#current-forecast {
  border: 3px solid red;
}

#future-forecast {
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
}
#future-forecast > div {
  color: blue;
  text-align: center;
}
